body {
  display: flex;
  background-image: url(https://img.freepik.com/free-vector/space-game-background-with-landscape-planet_107791-1700.jpg);
}
.title {
  color: darkcyan;
}
script {
  border-radius: 10px;
}
